* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --font-family: "Roboto", sans-serif;
  --primary: #546de5;
  --secondary: #778beb;
  --accent: #e5546d;
  --lightgray: #ddd;
  --text-regular: #444;
}

body {
  font-family: var(--font-family);
  color: var(--text-regular);
}

html {
  font-size: 62.5%;
}

// UTILITAIRES

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-justify-content-center {
  justify-content: center;
}

.flex-justify-content-between {
  justify-content: space-between;
}

.flex-align-items-center {
  align-items: center;
}

.flex-align-items-between {
  align-content: space-between;
}

.flex-fill {
  flex: 1 1 auto;
}

.p-10 {
  padding: 1rem;
}

.p-20 {
  padding: 2rem;
}

.m-10 {
  margin: 1rem;
}

.m-20 {
  margin: 2rem;
}

// DEBUG

.d1 {
  border: 1px solid red;
}

.d2 {
  border: 1px solid green;
}
